*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    background-color: rgba(0,0,0,255);
}


/* utility */

.column{
    display: flex;
    flex-direction: column;    
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.between{
    justify-content: space-between;
}

.around{
    justify-content: space-around;
}

.margin-main{
    margin: 5% 0;
}

.fixed-h{
    position: fixed;
    z-index: 1;
} 

.fixed-w{
    position: fixed;
    z-index: 1;
}

.conteiner{
    width: 100vh;    
}

.titolo , .titolo-card{
    color: white;
}

.testo-card{
    color: rgba(118,121,125,255);
    font-size: 12px;
}

.border-radius{
    border-radius: 50%;
}

.card-margin{
    margin-left: 2%;
}


/* spotify */
.spotify{
    height: 100vh;
    margin: auto;
    background-color: rgba(0,0,0,255);    
}

/* header */
header{
    width: 10%;
    height: 90vh;
    padding: 5px 5px;    
}

.logo, .home , .cerca{
    margin: 0px 2px;
    flex-basis: 4%;
    cursor: pointer;   
}

.libreria{
    flex-basis: 80%;
    cursor: pointer;
}

.installa {
    flex-basis: 8%;
    justify-content: center;
    align-items: center;
    cursor: pointer;   
}

.img-header, .img-spotify{
    width: 20px;
}

.img-profile{
    width: 16px;
    background-color:rgba(121,124,128,255) ;
    border-radius: 50%;
}

.img-download{
    width: 14px;
    margin: 4px 0;
}

.header-s{
    display: none;
}

.playlist div:hover, .installa span:hover, .libreria span:hover, .cerca span:hover{
    color: white;
}


/* main */
main{
    background-color: rgba(20,25,34,255); 
    width: 90%;
    position: absolute;
    top: 40px;
    right: 0;
    padding: 3% 3% 3% 3%;        
}

.upgrade{
    flex-basis: 10%;
    background-color: rgba(0,0,0,0.5);    
    height: 30px;
    width: 90%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;  
    align-items: center;
    padding: 20px 0;  
}

.upgrade > button{
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 8px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    margin: 5px 0px;
    cursor: pointer;
}

.upgrade button:hover{
    padding: 7px 20px;

}

.nav{
    align-items: center;
    justify-content: center;
}

.nav span{
    flex-basis: 25%;
    font-size: 8px;
    color:rgba(121,124,128,255) ;
    font-weight:900;
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
}

.evidenza{
    border-bottom: 2px  solid greenyellow;
}

.nav span:hover{
    color: white;

}

.podcast {
    flex-basis: 20%;
    font-size: 9px;
    color:rgba(121,124,128,255) ;
    font-weight:900;
}


.box-img img{
    width: 100%;
}

.card{
    flex-basis: 49%;
    text-align: center;
}

.box-card-rt{
    flex-basis: 20%;
    height: 100px;
    margin-bottom: 60%;
}

.box-img{
   position: relative;
}

.play-card{
    display:none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(11, 11, 11, 0.5);
    height: 100%;
    fill: white;
    padding: 35% 35%;
    

    
}

.play-card-rt{
    border-radius: 50%;
}


.box-img:hover .play-card{
    display: block;
}


.artisti{
    flex-basis: 3%;
    height: 30px;
}


/* footer */
footer{
    height: 10vh;
    background-color: rgba(40,40,40,255);
    width: 100%;
    bottom: 0;  
    left: 0;   
}

.ft-sx{
    flex-basis: 30%;
    align-items: center;
}

.img-brano, .nome-brano, .svg-footer{
    flex-basis: calc(100%/3);
}

.img-brano img{
    width: 70%;
    margin: 0px 3px;    
}

.testo-footer{
    font-size: 10px;
    color:rgba(121,124,128,255) ;
}

.svg-footer{
    fill:rgba(121,124,128,255) ;
    width: 12px;
    text-align: center;
    cursor: pointer;
}

.titolo-ft{
    color: white;
    font-size: 11px;
}


.ft-dx{
    flex-basis: 30%;
    align-items: center;    
}

.svg-ft-dx{
    flex-basis: 10%;
    align-items: center;
    cursor: pointer;
}

.volume-ft-dx{
    flex-basis: 50%;
    position: relative;
}

.svg-white{
    fill: white;
    width: 12px;
    text-align: center;
    cursor: pointer;
}

.svg-white:hover{
    width: 14px;
}

.svg-white-play{
    fill: white;
    width: 24px;
    text-align: center;
    cursor: pointer;
}

.hr-white{
    fill: white;
    margin: 0 3px;
}

.hr-white-bt{
    fill: white;
    margin: 0 3px;
    width: 50%;
}

.ft-cn{
    flex-basis: 40%;
    justify-content: center;    
}

.ft-cn-top, .ft-cn-bottom {
    flex-basis: 48%;   
}

.svg-ft-cn{
    flex-basis: 10%;
    align-items: center;
    justify-content: center;
}

.svg-ft-cn-play{
    flex-basis: 20%;
    align-items: center;
    justify-content: center;
}

.svg-footer:hover{
    fill: white;
}

.brano:hover, .footer-name:hover{
    text-decoration: underline;
    color: white;
}

.svg-white-play:hover{
    width: 26px;
}

.durata{
    flex-basis: 15%;
    text-align: center;
}

.barra-durata{
    flex-basis: 68%;
    border-color:rgba(121,124,128,255);
    position: relative;
}

.ft-cn-bottom{
    align-items: center;
}

.hr-grigia{
    border-color:rgba(121,124,128,255);    
}

.hr-bianca{
position: absolute;
top: 50%;
left: 0;
width: 40%;
transform: translateY(-50%) ;
}

.hr-verde{
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    width: 40%;
    transform: translateY(-50%) ;
}

.barra-durata:hover .hr-verde, .volume-ft-dx:hover .hr-verde{
    display: block;
    border-color:rgb(18, 240, 14);
    cursor: pointer;
}



/* media query */
@media screen 
and ( min-width: 376px )
and ( max-width: 425px ) {
    
    header{
        width: 30%;
        padding: 15px 15px;
    }

    main{
        width: 70%;
    }

    .header-s{
        display: inline-block;
    }

    .upgrade{
        width: 70%;
    }

    .img-playlist{
        display: none;
    }

    .logo, .home, .cerca, .installa{
        flex-basis: 4%;
        margin: 5px 4px 5px 0;
        display: flex;
        align-items: center;
    }

    .img-spotify{
        width: 28px;
        margin: 0px 3px 0 3px ;
    }

    .libreria{
        flex-basis: 4%;
        display: flex;
        align-items: center;
        margin: 0 0 5px 0;
    }
    
    .playlist {
        justify-content: center;
        flex-basis: 75%    
    }

    .crea-pl{
        align-items: center;
        display: flex;
    }

    .svg-playlist{
        width: 32px;
        fill:rgba(121,124,128,255) ;
        margin: 0 3px 0 0;
    }

    .profile{
        border-top: 1px solid rgba(121,124,128,255) ;
        width: 100%;
        padding: 2px 0 0 0;
    }

    .testo-header{
        font-size: 12px;
        color:rgba(121,124,128,255) ;
        margin: 5px 0;
    }

    .titolo-playlist{
        color: white;
        margin: 5px 0;
        font-size: 12px;
    }

    .testo-home{
        color: white;
        font-size: 14px;
    }

    .testo-spotify{
        color: white;
        font-size: 18px;
    }

    .testo-cerca{
        color: rgba(121,124,128,255);
        font-size: 14px;
    }

    .installa{
        align-items: flex-start;   
    }

    .img-profile, .img-download{
        margin: 2px 3px 2px 0;
    }

    .nav{
        justify-content: space-around;
    }

    .nav span{
        flex-basis: 26%;       
    }
    
    .footer-none{
        display: none;
    }


}



@media screen 
and ( min-width: 426px )
and ( max-width: 768px ) {

    header{
        width: 25%;
        padding: 15px 15px;    
    }

    .header-s{
        display: block;
    }

    .img-header{
        width: 30px;
    }

    .img-playlist{
        display: none;
    }

    .logo, .home, .cerca, .installa{
        flex-basis: 4%;
        margin: 5px 4px 5px 0;
        display: flex;
        align-items: center;
    }

    .img-spotify{
        width: 40px;
        margin: 0px 3px 0 3px ;
    }

    .libreria{
        flex-basis: 4%;
        display: flex;
        align-items: center;
        margin: 0 0 5px 0;
    }
    
    .playlist {
        justify-content: center;
        flex-basis: 75%    
    }

    .crea-pl{
        align-items: center;
        display: flex;
    }

    .svg-playlist{
        width: 32px;
        fill:rgba(121,124,128,255) ;
        margin: 0 3px 0 0;
    }

    .profile{
        border-top: 1px solid rgba(121,124,128,255) ;
        width: 100%;
        padding: 2px 0 0 0;
    }

    .testo-header{
        font-size: 17px;
        color:rgba(121,124,128,255) ;
        margin: 15px 0;
    }

    .titolo-playlist{
        color: white;
        margin: 5px 0;
        font-size: 16px;
    }

    .testo-home{
        color: white;
        font-size: 14px;
    }

    .testo-spotify{
        color: white;
        font-size: 25px;
    }

    .testo-cerca{
        color: rgba(121,124,128,255);
        font-size: 14px;
    }

    .installa{
        align-items: flex-start;   
    }

    .img-profile, .img-download{
        margin: 2px 3px 2px 0;
        width: 30px;
    }
    .profile{
        align-items: center;
    }

    main{
        width: 75%;   
    }

    .upgrade{
        width: 75%;
        padding: 35px 0;
    }

    .upgrade button{
        padding: 10px 15px;
        font-size: 14px;
        margin: 0 10px;
    }

    .upgrade button:hover{
        padding: 13px 15px;
    }

    .card{
        flex-basis: 24%;
    }

    .flex-start{
        justify-content: flex-start;    
    }

    .margin-right{
        margin-right: 1%;
    }

    .nav{
        justify-content: space-around;
    }

    .nav span{
        flex-basis: 19%;
        font-size: 12px;    
    }

    .box-card{
        justify-content: flex-start;
    }
    
    .box-card-rt{
        margin-bottom: 30%;
    }

    .card-margin, .margin-lg{
        margin-left: 1%;
    }
    .ft-sx, .ft-dx{
        flex-basis: 20%;
    } 
    .ft-cn{
        flex-basis: 25%;
    }

    .titolo-ft{
        font-size: 15px;
    }

    .svg-footer{
        width: 15px;
        margin: 0 5px;
        display: flex;
    }

    .svg-white{
        width:15px ;
    }

    .svg-white:hover{
        width: 17px;
    }

    .svg-white-play{
        width:35px ;
    }

    .svg-white-play:hover{
        width: 37px;
    }

    .svg-white-play:hover{
        width: 37px;
    }

    .img-brano img{
        width: 50%;
        margin: 0px 3px;   
    }
    
    .footer-none{
        display: none;
    }
}
    


@media screen 
and ( min-width: 769px ) {

    header{
        width: 25%;
        padding: 15px 15px;    
    }

    .header-s{
        display: block;
    }

    .img-header{
        width: 22px;
    }

    .img-playlist{
        display: none;
    }

    .logo, .home, .cerca, .installa{
        flex-basis: 4%;
        margin: 5px 4px 5px 0;
        display: flex;
        align-items: center;
    }

    .img-spotify{
        width: 30px;
        margin: 0px 3px 0 3px ;
    }

    .libreria{
        flex-basis: 4%;
        display: flex;
        align-items: center;
        margin: 0 0 5px 0;
    }
    
    .playlist {
        justify-content: center;
        flex-basis: 75%   
    }

    .crea-pl{
        align-items: center;
        display: flex;
    }

    .svg-playlist{
        width: 32px;
        fill:rgba(121,124,128,255) ;
        margin: 0 3px 0 0;
    }

    .profile{
        border-top: 1px solid rgba(121,124,128,255) ;
        width: 100%;
        padding: 2px 0 0 0;
    }

    .testo-header{
        font-size: 14px;
        color:rgba(121,124,128,255) ;
        margin: 14px 0;
    }

    .titolo-playlist{
        color: white;
        margin: 5px 0;
        font-size: 16px;
    }

    .testo-home{
        color: white;
        font-size: 12px;
    }

    .testo-spotify{
        color: white;
        font-size: 20px;
    }

    .testo-cerca{
        color: rgba(121,124,128,255);
        font-size: 12px;
    }

    .installa{
        align-items: flex-start;   
    }

    .img-profile, .img-download{
        margin: 2px 3px 2px 0;
        width: 20px;
    }
    .profile{
        align-items: center;
    }

    main{
        width: 75%;
        margin-bottom: 50px;   
    }

    .upgrade{
        width: 75%;
        padding: 35px 0;
    }

    .upgrade button{
        padding: 15px 15px;
        font-size: 14px;
        margin: 0 10px;
    }

    .upgrade button:hover{
        padding: 17px 15px;
    }

    .card{
        flex-basis: 15%; 
        margin-left: 1%;  
    }


    .flex-start{
        justify-content: flex-start;    
    }

    .margin-right{
        margin-right: 1%;
    } 

    .nav{
        justify-content: space-around;
        justify-content: center;
    }

    .nav span{
        flex-basis: 15%;
        font-size: 13px;
        
    }

    .card-margin{
        margin-left: 2%;
    }
    
    .box-card-rt{
        margin-bottom: 20%;
    }

    .ft-sx, .ft-dx{
        flex-basis: 20%;
    } 

    .ft-cn{
        flex-basis: 30%;
    }

    .titolo-ft{
        font-size: 15px;
    }

    .svg-footer{
        width: 15px;
        margin: 0 5px;
        display: flex;
    }

    .svg-white{
        width:15px ;
    }

    .svg-white:hover{
        width: 17px;
    }

    .svg-white-play{
        width:35px ;
    }

    .svg-white-play:hover{
        width: 37px;
    }

    .img-brano img{
        width: 50%;
        margin: 0px 3px;    
    }

    .footer-none{
        display: none;
    }
}

    
