*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    background-color: rgba(0,0,0,255);

}




/* utility */

.column{
    display: flex;
    flex-direction: column;
    
}

.flex{
    display: flex;
 }

.wrap{
    flex-wrap: wrap;
 }

.between{
    justify-content: space-between;
 }

.around{
    justify-content: space-around;
}

.margin-main{
    margin: 5% 0;
}

.fixed-h{
    position: fixed;
    z-index: 1;
} 

.fixed-w{
    position: fixed;
    z-index: 1;
}

.conteiner{
    width: 100vh;    
}

.titolo , .titolo-card{
    color: white;
}

.testo-card{
    color: rgba(118,121,125,255);
    font-size: 12px;
}

.border-radius{
    border-radius: 50%;
}


/* spotify */
.spotify{
    height: 100vh;
    margin: auto;
    background-color: rgba(0,0,0,255);    
}

/* header */
header{
    width: 10%;
    height: 90vh;
    padding: 5px 5px;
    
    
}

.logo, .home , .cerca,{
    margin: 0px 2px;
    flex-basis: 4%;    
}

.libreria{
    flex-basis: 80%;

}

.playlist , .installa{
    margin: 0px 2px;
    flex-basis: 4%;   
}
.img-header{
    width: 20px;
}

.header-s{
    display: none;
}


/* main */
main{
    background-color: rgba(20,25,34,255); 
    width: 90%;
    position: absolute;
    top: 40px;
    right: 0;
    padding: 0 3%;    
}

.upgrade{
    flex-basis: 10%;
    background-color: rgba(0,0,0,0.5);    
    height: 30px;
    width: 90%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;  
    align-items: center;
    padding: 20px 0;  
}

.upgrade > button{
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 8px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    margin: 5px 0px;
    


}


.nav{
    flex-basis: 5%;

}

.nav span{
    flex-basis: 25%;
    font-size: 9px;
    color:rgba(121,124,128,255) ;
    margin: 5px 1px;
    font-weight:900;
}


.box-img img{
    width: 100%;
 
}

.card{
    flex-basis: 49%;
    margin: 10px 0;
    text-align: center;
}

.box-card-rt{
    flex-basis: 20%;
    height: 100px;
    margin-bottom: 60%;
}



.artisti{
    flex-basis: 3%;
    height: 30px;
}


/* footer */
footer{
    height: 10vh;
    background-color: rgba(40,40,40,255);
    width: 100%;
    bottom: 0;  
    left: 0;
    
}

.ft-sx{
    flex-basis: 30%;
    align-items: center;
}

.img-brano, .nome-brano, .svg-footer{
    flex-basis: calc(100%/3);
}

.img-brano img{
    width: 70%;
    margin: 0px 3px;
    
}

.testo-footer{
    font-size: 10px;
    color:rgba(121,124,128,255) ;
}

.svg-footer{
    fill:rgba(121,124,128,255) ;
    width: 12px;
    text-align: center;
}

.titolo-ft{
    color: white;
    font-size: 11px;
}


.ft-dx{
    flex-basis: 30%;
    align-items: center;
    
}

.svg-ft-dx{
    flex-basis: 10%;
    align-items: center;
}
.volume-ft-dx{
    flex-basis: 50%;
}

.svg-white{
    fill: white;
    width: 12px;
    text-align: center;
}

.hr-white{
    fill: white;
}

.ft-cn{
    flex-basis: 40%;
    align-items: center;
}

.ft-cn-top, .ft-cn-bottom {
    flex-basis: 48%;   
}

.svg-ft-cn{
    flex-basis: 18%;
    align-items: center;
}




/* media query */
@media screen 
and ( min-width: 376px )
and ( max-width: 425px ) {
    
    header{
        width: 30%;
        padding: 15px 15px;
    }

    main{
        width: 70%;
    }

    .header-s{
        display: inline-block;
    }

    .upgrade{
        width: 70%;
    }

    .img-playlist{
        display: none;
    }

    .logo, .home, .cerca, .installa{
        flex-basis: 4%;
        margin: 5px 0;
    
    }

    .libreria{
        flex-basis: 9%;
    }
    
    .playlist {

        flex-basis: 75%
        
    }

    .testo-header{
        font-size: 10px;
        color:rgba(121,124,128,255) ;
        margin: 5px 0;
    }

    .titolo-playlist{
        color: white;
        margin: 5px 0;
        font-size: 12px;
    }

    .testo-home{
        color: white;
        font-size: 14px;
    }

    .testo-spotify{
        color: white;
        font-size: 16px;

    }

    

    
    
}



@media screen 
and ( min-width: 426px )
and ( max-width: 768px ) {

    header{
        width: 20%;
        padding: 15px 15px;
    }

    .header-s{
        display: inline-block;
    }

    .img-playlist{
        display: none;
    }

    .logo, .home, .cerca, .installa{
        flex-basis: 4%;
        margin: 5px 0;
    
    }

    .libreria{
        flex-basis: 9%;
    }
    
    .playlist {

        flex-basis: 75%
        
    }

    .testo-header{
        font-size: 10px;
        color:rgba(121,124,128,255) ;
        margin: 5px 0;
    }

    .titolo-playlist{
        color: white;
        margin: 5px 0;
        font-size: 12px;
    }

    .testo-home{
        color: white;
        font-size: 14px;
    }

    .testo-spotify{
        color: white;
        font-size: 16px;

    }

    main{
        width: 80%;
    }

    .upgrade{
        width: 80%;
    }

    .card{
        flex-basis: 24%;
    }

    .flex-start{
        justify-content: flex-start;    
    }

    .margin-right{
        margin-right: 1%;
    }

    .nav{
        justify-content: space-around;
    }

    .nav span{
        flex-basis: 20%;
        
    }
    
    .box-card-rt{
        margin-bottom: 30%;
    }
    
}
    


@media screen 
and ( min-width: 769px ) {

    header{
        width: 15%;
    }

    .header-s{
        display: inline-block;
    }

    .img-playlist{
        display: none;
    }

    .logo, .home, .cerca, .installa{
        flex-basis: 4%;
        margin: 5px 0;
    
    }

    .libreria{
        flex-basis: 9%;
    }
    
    .playlist {

        flex-basis: 75%
        
    }

    .testo-header{
        font-size: 10px;
        color:rgba(121,124,128,255) ;
        margin: 5px 0;
    }

    .titolo-playlist{
        color: white;
        margin: 5px 0;
        font-size: 12px;
    }

    .testo-home{
        color: white;
        font-size: 14px;
    }

    .testo-spotify{
        color: white;
        font-size: 16px;

    }

    main{
        width: 85%;
    }

    .upgrade{
        width: 85%;
    }


    .card{
        flex-basis: 15%; 
        margin-left: 1%;  
    }


    .flex-start{
        justify-content: flex-start;    
    }

    .margin-right{
        margin-right: 1%;
    } 

    .nav{
        justify-content: space-around;
        justify-content: center;
    }

    .nav span{
        flex-basis: 15%;
        
    }
    
    .box-card-rt{
        margin-bottom: 20%;
    }
   
}
    
